@model IQBAL_SORATHIA_INSURANCE.Models.marinecover

@{
    ViewBag.Title = "addmarinecovernote";
}

<h2>Register Marine Cover Note</h2>

<h3 class="alert-info">@ViewBag.msg</h3>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <style>
        .form-control{
            font-size:15px;
        }
        .btn-success {
            font-size: 15px;
        }
    </style>
    
    
    <div class="form-horizontal" style="font-size:15px;">
       
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <label class="control-label col-md-2" for="nameofbank">Date</label>                 <div class="col-md-10">
                @Html.TextBoxFor(model => model.date, new { @class="form-control",type="date"})
                @Html.ValidationMessageFor(model => model.date)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="nameofbank">CNO</label>    <div class="col-md-10">
                @Html.TextBoxFor(model => model.cno, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.cno)
            </div>
        </div>

        <div class="form-group"><label class="control-label col-md-2" for="nameofbank">Name Of Bank</label>    <div class="col-md-10">
                @Html.TextBoxFor(model => model.nameofbank, new { @class="form-control"})
                @Html.ValidationMessageFor(model => model.nameofbank)
            </div>
        </div>

        <div class="form-group"><label class="control-label col-md-2" for="nameofbank">Name Of Insured</label>           <div class="col-md-10">
                @Html.TextBoxFor(model => model.nameofinsured, new {@class="form-control" })
                @Html.ValidationMessageFor(model => model.nameofinsured)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="nameofbank">Equivalent Values</label>  <div class="col-md-10">
                @Html.TextBoxFor(model => model.equivalentvalue, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.equivalentvalue)
            </div>
        </div>

        <div class="form-group"><label class="control-label col-md-2" for="nameofbank">Foreign Values</label>  <div class="col-md-10">
                @Html.TextBoxFor(model => model.foreignvalues, new {@class="form-control" })
                @Html.ValidationMessageFor(model => model.foreignvalues)
            </div>
        </div>

        <div class="form-group"><label class="control-label col-md-2" for="nameofbank">Pakistan Rs</label><div class="col-md-10">
                @Html.TextBoxFor(model => model.pakrs, new {@class="form-control" })
                @Html.ValidationMessageFor(model => model.pakrs)
            </div>
        </div>

        <div class="form-group"><label class="control-label col-md-2" for="nameofbank">Item</label> <div class="col-md-10">
                @Html.TextBoxFor(model => model.item, new { @class="form-control"})
                @Html.ValidationMessageFor(model => model.item)
            </div>
        </div>

        <div class="form-group"><label class="control-label col-md-2" for="nameofbank">Slipmint From</label>  <div class="col-md-10">
                @Html.TextBoxFor(model => model.slipmentfrom, new { @class="form-control"})
                @Html.ValidationMessageFor(model => model.slipmentfrom)
            </div>
        </div>

      
        <div class="form-group"><label class="control-label col-md-2" for="nameofbank">Remarks</label>     <div class="col-md-10">
               @Html.TextAreaFor(model => model.remarks, new { @class="form-control"})
                @Html.ValidationMessageFor(model => model.remarks)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
