@model IQBAL_SORATHIA_INSURANCE.Models.receipt

@{
    ViewBag.Title = "addreceipt";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h2>Register Receipt</h2>
<h3 class="alert-info">@ViewBag.msg</h3>
<style>
    .form-control {
        font-size: 15px;
    }

    .btn-success {
        font-size: 15px;
    }

    .control-label {
        font-size: 15px;
    }
</style>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.Label("Date", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.date, new { @class = "form-control" ,type="date"})
                @Html.ValidationMessageFor(model => model.date)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Receipt", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.receipt1, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.receipt1)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Policy", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.policy, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.policy)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Name Of Insured", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.nameofinsured, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.nameofinsured)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Marine", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.marine, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.marine)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Fire", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.fire, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.fire)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Engineering", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.engineering, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.engineering)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Motor", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.motor, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.motor)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Miscellaneous", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.miscilinious, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.miscilinious)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Hulk", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.hull, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.hull)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Health", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.health, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.health)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-success" />
            </div>
        </div>
    </div>
}
S
